table {
    border: 1px solid #000;
    width: 50%;
}

table th {
    background-color: #ffb78e;
    padding: 5px;
}

table td {
    padding: 5px;
    text-align: center;
}

body {
    margin: auto;
}
